<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta property="og:ur" content="https://shortner-941qj4esd-jedlahrim.vercel.app/">;
    <meta property="og: type" content="website">
  <title>Document</title>
</head>
<div class="context">
  <h1 style="color:#393d98; font-size: 60px; text-align: center;"> SHORTNER</h1>
</div>
<body style="background-color: rgba(66,162,122,0.31);">
<div class="container">
  <form action="/shortUrl" method="POST" class="my-4 form-inline">
    <label for="fullUrl" class="sr-only">Url</label>
    <input required placeholder="Url" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2">
    <button class="btn btn-success" type="submit">Shrink</button>
  </form>
  <table class="table table-striped table-responsive">
    <thead>
    <tr>
      <th>Short URL</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <a href="<%= shortUrl?`https://shortner-941qj4esd-jedlahrim.vercel.app/${shortUrl}`:'' %>">
          <%= shortUrl?`https://shortner-941qj4esd-jedlahrim.vercel.app/${shortUrl}`:'' %>
          <!-- Add Open Graph meta tags -->
          <meta property="og:image" content="https://www.ivertech.com/Articles/Images/KoalaBear200x200.jpg">
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>